

header {margin-bottom: 25px;}
header .navbar {background: #d7d9d9;}
img.logo {
    max-width: 95px;
}
.navbar-light .navbar-nav .nav-link {font-size: 14px;padding: 7px 15px;text-transform: uppercase;}
.dropdown-menu {right: 0;left: auto;}

.data-tab {
	border: 1px solid #e0e3eb;
    padding-top: 14px;
    border-radius: 2px;
}
.data-tab .input-group {padding: 0 14px 20px;}
.data-tab .input-group span {background: transparent;}
.data-tab .data-table table tr td,
.data-tab .data-table table tr th {font-size: 14px;}
.data-tab .data-table  {overflow-y: auto;height: 550px;}
.data-box, .proifle-tab {
	border: 1px solid #e0e3eb;
    padding: 20px;
    border-radius: 2px;
}
.data-box h1, .proifle-tab h2 {font-size: 18px;padding: 0;margin: 0 0 5px;}
.data-box p, .proifle-tab p {font-size: 13px;}

.proifle-tab h2 {margin-bottom: 15px;}
.proifle-tab ul {margin: 0;padding: 0;list-style: none;}
.proifle-tab ul li {padding:10px 0px;border-bottom: 1px solid rgba(0,0,0,0.1)}
.proifle-tab ul li p {margin: 0}
.profile-img {padding: 10px;background: #f2f2f2;text-align: center;}
.heading {
    background: #f5f9fc;
    font-size: 14px;
    font-weight: 400;
    padding: 13px;
    margin: 0;
    color: #4a4a4a;
}
.market-news {
    border: 1px solid #e0e3eb;
    border-radius: 2px;
    margin-top: 30px;
}
.p-body {padding: 15px;}
p.parag {font-size: 14px;}
p.date {font-size: 12px;}


@media only screen and (max-width: 991px) {
	.mobile-menu {display: none;}
	.desktop-menu {display: block;}
}
@media only screen and (min-width: 992px) {
	.mobile-menu {display: block;}
	.desktop-menu {display:none;}
}


.tab {
  /*float: left;*/
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  /*width: 25%;*/
  height: 619px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  /*float: left;*/
  /*padding:20px;*/
  /*border: 1px solid #ccc;*/
  /*width: 75%;*/
  border-left: none;
}

.walBox {justify-content: space-between;}
.walBox img {width: 70px;height: 40px;margin-right: 15px;}
.walBox h2 {
	margin-bottom: 0;
    line-height: 1;
    color: #18214d;
    font-size: 22px;
}
.walBox h3 {margin-bottom: 0;line-height: 1.2;font-size: 1.45rem;color: #353333}
.walBox p {margin-bottom: 0}

.walContBox .card:first-child {margin-top: 0}
.walContBox .card {margin-top: 20px;}
.walContBox .card-title {font-size: 1.1rem;color: #6d6666;margin-bottom: 30px;}
.walContBox ul {margin: 0 0 40px;padding: 0;}
.walContBox ul li h2 {font-size: 1.15rem;color: #424040;}
.walContBox ul li i.icon {
    background: #cdeef9;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    text-align: center;
    border-radius: 50%;
    line-height: 34px;
    font-size: 20px;
}
.walContBox ul li h3 {
    font-size: 1.2rem;
}
.walContBox ul li:first-child {
    border-bottom: 1px solid #f0f3fa;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.walContBox button.green {
    background: #26de81;
    color: #ffffff;
    box-shadow: 0px 0px 15px 0px #26de81ad;
}
.walContBox button {
    padding: 12px 60px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.walContBox button.red {
    background: #ff231f;
    box-shadow: 0px 0px 15px 0px #ff231fad;
    color: #ffffff;
}
.walContBox .wallAddr p {margin-bottom: 1rem}
.walContBox .wallAddr .input-group {padding-top: 30px;}
.walContBox .wallAddr .input-group input {
    padding: 25px 15px;
    font-size: 14px;
}
.walContBox .wallAddr .input-group .input-group-prepend button {
    padding: 13px 20px;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
.walContBox .table td {font-size: 13px;padding: 10px 18px;}
.green {color: #26de81;}
.red {color: #ff231f;}


.signUp form {
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 14px -6px;
    border-radius: 5px;
    padding: 30px;
    border: 1px solid #f2f4f9;
    min-width: 700px;
}
.signUp span {
    text-align: center;
    display: block;
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: -5px;
    font-weight: 600;
}
.signUp button {
    width: 100%;
    padding: 12px;
    font-weight: 600;
    margin-top: 20px;
}
.signUp h2 {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}